@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient-border {
    background: linear-gradient(white, white) padding-box,
      linear-gradient(
          to right,
          theme("colors.strawberry"),
          theme("colors.orange")
        )
        border-box;
    border-radius: 30px;
    border: 1.5px solid transparent;
  }
}

@layer components {
  .typography-display {
    @apply font-medium font-display text-display-s md:text-display;
  }

  .typography-caption {
    @apply font-sans text-caption;
  }

  .typography-heading-1,
  .typography-heading-2,
  .typography-heading-3,
  .typography-heading-4 {
    @apply font-bold font-display;
  }

  .typography-heading-1 {
    @apply text-heading-1-s md:text-heading-1;
  }

  .typography-heading-2 {
    @apply text-heading-2-s md:text-heading-2;
  }

  .typography-heading-3 {
    @apply text-heading-3;
  }

  .typography-heading-4 {
    @apply text-heading-4;
  }

  .typography-paragraph {
    @apply font-sans text-paragraph-s md:text-paragraph;
  }

  .typography-paragraph-2 {
    @apply font-sans text-paragraph-2;
  }

  .typography-label {
    @apply font-bold uppercase tracking-wide text-label;
  }

  .typography-label-2 {
    @apply font-bold uppercase tracking-wide text-label-2;
  }

  .typography-code {
    @apply font-mono text-code;
  }

  .border-transparency-light {
    border-color: rgba(54, 56, 60, 0.5);
  }

  .bg-transparency-dark {
    background-color: rgba(40, 41, 44, 0.5);
  }

  .bg-blog-card-dark {
    background-color: rgba(27, 29, 33, 0.75);
  }

  .bg-transparency-light {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

:root {
  --code-color-green: #8ed287;
  --code-color-blue: #aed5fb;
  --code-color-purple: #cbabf9;
  --code-color-pink: #ea8075;
  --code-color-orange: #eaad75;

  --shiki-color-text: #fff;
  --shiki-color-background: transparent;
  --shiki-token-constant: var(--code-color-blue);
  --shiki-token-string: var(--code-color-blue);
  --shiki-token-comment: var(--code-color-pink);
  --shiki-token-keyword: var(--code-color-green);
  --shiki-token-parameter: #fff;
  --shiki-token-function: var(--code-color-purple);
  --shiki-token-string-expression: var(--code-color-blue);
  --shiki-token-punctuation: var(--code-color-purple);
  --shiki-token-link: var(--code-color-orange);
}

body {
  @apply bg-white dark:bg-black text-black dark:text-white;
}
