@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient-border {
    background: linear-gradient(white, white) padding-box,
      linear-gradient(
          to right,
          theme("colors.strawberry"),
          theme("colors.orange")
        )
        border-box;
    border: 1.5px solid transparent;
  }

  .gradient-border-dark {
    background: linear-gradient(theme("colors.black"), theme("colors.black"))
        padding-box,
      linear-gradient(
          to right,
          theme("colors.strawberry"),
          theme("colors.orange")
        )
        border-box;
    border: 1.5px solid transparent;
  }

  .gradient-border-dark-footer {
    background: linear-gradient(rgba(27, 29, 33, 1), rgba(27, 29, 33, 1))
        padding-box,
      linear-gradient(
          to right,
          theme("colors.strawberry"),
          theme("colors.orange")
        )
        border-box;
    border: 1.5px solid transparent;
  }
}

@layer components {
  .input-border {
    @apply hover:gradient-border focus:gradient-border dark:hover:gradient-border-dark dark:focus:gradient-border-dark;
  }

  .dark\:bg-footer-dark .input-border {
    @apply dark:hover:gradient-border-dark-footer dark:focus:gradient-border-dark-footer;
  }

  .typography-display {
    @apply font-medium font-display text-display-s md:text-display;
  }

  .typography-caption {
    @apply font-sans text-caption;
  }

  .typography-heading-1,
  .typography-heading-2,
  .typography-heading-3,
  .typography-heading-4 {
    @apply font-bold font-display;
  }

  .typography-heading-1 {
    @apply text-heading-1-s md:text-heading-1;
  }

  .typography-heading-2 {
    @apply text-heading-2-s md:text-heading-2;
  }

  .typography-heading-3 {
    @apply text-heading-3;
  }

  .typography-heading-4 {
    @apply text-heading-4;
  }

  .typography-paragraph {
    @apply font-sans text-paragraph-s md:text-paragraph;
  }

  .typography-paragraph-2 {
    @apply font-sans text-paragraph-2;
  }

  .typography-label {
    @apply font-bold uppercase tracking-wide text-label;
  }

  .typography-label-2 {
    @apply font-bold uppercase tracking-wide text-label-2;
  }

  .typography-code {
    @apply font-mono text-code;
  }

  .border-transparency-light {
    border-color: rgba(54, 56, 60, 0.5);
  }

  .bg-transparency-dark {
    background-color: rgba(40, 41, 44, 0.5);
  }

  .bg-blog-card-dark {
    background-color: rgba(27, 29, 33, 0.75);
  }

  .bg-footer-dark {
    background-color: rgba(27, 29, 33, 0.75);
  }

  .bg-transparency-light {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .codebox {
    overflow: scroll;
    @apply flex;
  }

  .codebox pre {
    @apply px-24 md:px-48 py-32;
    overflow: visible !important;
  }
}

:root {
  --code-color-green: #8ed287;
  --code-color-blue: #aed5fb;
  --code-color-purple: #cbabf9;
  --code-color-pink: #ea8075;
  --code-color-orange: #eaad75;

  --shiki-color-text: #fff;
  --shiki-color-background: transparent;
  --shiki-token-constant: var(--code-color-blue);
  --shiki-token-string: var(--code-color-blue);
  --shiki-token-comment: var(--code-color-pink);
  --shiki-token-keyword: var(--code-color-green);
  --shiki-token-parameter: #fff;
  --shiki-token-function: var(--code-color-purple);
  --shiki-token-string-expression: var(--code-color-blue);
  --shiki-token-punctuation: var(--code-color-purple);
  --shiki-token-link: var(--code-color-orange);
}

body {
  @apply bg-white dark:bg-black text-black dark:text-white;
}

mark {
  @apply text-strawberry underline bg-transparent font-bold;
}

.selected mark {
  color: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

details summary::-webkit-details-marker {
  display: none;
}

.docs-content {
  @apply px-16 sm:px-40 space-y-8;
}

.docs-content :is(h1, h2, h3, h4, h5, h6) {
  margin: 0.67em 0 !important;
}

.docs-content :first-child {
  margin-top: 0 !important;
}

.docs-content .codebox {
  margin: 32px 0 !important;
}

.docs-content .callout {
  margin: 24px 0 !important;
}

.page-content :is(h1, h2, h3, h4, h5, h6) {
  margin: 1em 0 !important;
}

.page-content :first-child {
  margin-top: 0 !important;
}

/* Mermaid styles */

.mermaid > svg {
  font-family: "trebuchet ms", verdana, arial, sans-serif;
  font-size: 16px;
  fill: #333;
}
.mermaid > svg .error-icon {
  fill: hsl(220.5882352941, 100%, 98.3333333333%);
}

.mermaid > svg .error-text {
  fill: rgb(8.5000000002, 5.7500000001, 0);
  stroke: rgb(8.5000000002, 5.7500000001, 0);
}
.mermaid > svg .edge-thickness-normal {
  stroke-width: 2px;
}
.mermaid > svg .edge-thickness-thick {
  stroke-width: 3.5px;
}
.mermaid > svg .edge-pattern-solid {
  stroke-dasharray: 0;
}
.mermaid > svg .edge-pattern-dashed {
  stroke-dasharray: 3;
}
.mermaid > svg .edge-pattern-dotted {
  stroke-dasharray: 2;
}
.mermaid > svg .marker {
  fill: #0b0b0b;
  stroke: #0b0b0b;
}
.mermaid > svg .marker.cross {
  stroke: #0b0b0b;
}
.mermaid > svg svg {
  font-family: "trebuchet ms", verdana, arial, sans-serif;
  font-size: 16px;
}
.mermaid > svg .actor {
  fill: var(--code-color-purple);
  stroke: var(--code-color-purple);
}
.mermaid > svg text.actor > tspan {
  fill: #333;
  stroke: none;
}
.mermaid > svg .actor-line {
  stroke: grey;
}
.mermaid > svg .messageLine0 {
  stroke-width: 1.5;
  stroke-dasharray: none;
  stroke: #333;
}
.mermaid > svg .messageLine1 {
  stroke-width: 1.5;
  stroke-dasharray: 2, 2;
  stroke: #333;
}
.mermaid > svg #arrowhead path {
  fill: #333;
  stroke: #333;
}
.mermaid > svg .sequenceNumber {
  fill: #f4f4f4;
}
.mermaid > svg #sequencenumber {
  @apply fill-g-900 dark:fill-g-100;
}
.mermaid > svg #crosshead path {
  fill: #333;
  stroke: #333;
}
.mermaid > svg .messageText {
  fill: #333;
  @apply fill-g-900 dark:fill-g-100;
  stroke: none;
}
.mermaid > svg .labelBox {
  fill: var(--code-color-purple);
  stroke: var(--code-color-purple);
}
.mermaid > svg .labelText,
.mermaid > svg .labelText > tspan {
  fill: #333;
  stroke: none;
}
.mermaid > svg .loopText,
.mermaid > svg .loopText > tspan {
  fill: #333;
  stroke: none;
}
.mermaid > svg .loopLine {
  stroke-width: 2px;
  stroke-dasharray: 2, 2;
  fill: var(--code-color-purple);
  stroke: var(--code-color-purple);
}
.mermaid > svg .note {
  fill: var(--code-color-orange);
  stroke: var(--code-color-orange);
}
.mermaid > svg .noteText,
.mermaid > svg .noteText > tspan {
  fill: #333;
  stroke: none;
}
.mermaid > svg .activation0 {
  fill: hsl(-79.4117647059, 100%, 93.3333333333%);
  stroke: hsl(-79.4117647059, 100%, 83.3333333333%);
}
.mermaid > svg .activation1 {
  fill: hsl(-79.4117647059, 100%, 93.3333333333%);
  stroke: hsl(-79.4117647059, 100%, 83.3333333333%);
}
.mermaid > svg .activation2 {
  fill: hsl(-79.4117647059, 100%, 93.3333333333%);
  stroke: hsl(-79.4117647059, 100%, 83.3333333333%);
}
.mermaid > svg .actorPopupMenu {
  position: absolute;
}
.mermaid > svg .actorPopupMenuPanel {
  position: absolute;
  fill: #fff4dd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
.mermaid > svg .actor-man line {
  fill: var(--code-color-purple);
  stroke: var(--code-color-purple);
}
.mermaid > svg .actor-man circle,
.mermaid > svg line {
  fill: var(--code-color-purple);
  stroke: var(--code-color-purple);
  stroke-width: 2px;
}
.mermaid > svg :root {
  --mermaid-font-family: "trebuchet ms", verdana, arial, sans-serif;
}
